<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.2.0/styles/default.min.css"> -->
    <link rel='stylesheet' href='/stylesheets/highlightjs-adl.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.2.0/highlight.min.js"></script>
  <!-- and it's easy to individually load additional languages -->
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.2.0/languages/go.min.js"></script>

  <!-- ADL development process -->
  <script type="module" src="/javascripts/index.js"></script>

  <!-- ADL production process -->
  <!-- <script type="module" src="/javascripts/adl.min.js"></script> -->
  <!-- <script>hljs.highlightAll();</script> -->
</html>
